<h2>Todays publishes</h2>

<ul>
	{{#each published.results}}	
		<li>
			{{description.title}}
			<br>
			{{dateDay description.releaseDate}}
            <br>
            {{publishedTime}}
		</li>
	{{/each}}
</ul>