<h2>Upcoming</h2>

<ul>
	{{#each upcoming.result.results}}
        {{!-- {{#if_ne (dateDay description.releaseDate) (today)}} --}}
				<li>
					{{description.title}}
					<br>
					{{dateDay description.releaseDate}}
				</li>
        {{!-- {{/if_ne}} --}}
	{{/each}}
</ul>