<h2>Upcoming</h2>

<ul>
	{{#each upcoming.result.results}}
		{{#if_eq (dateDay description.releaseDate) '18 Apr 2016'}}		
			<li>
				{{description.title}}
				<br>
				{{dateDay description.releaseDate}}
			</li>
		{{/if_eq}}
	{{/each}}
</ul>